<!DOCTYPE html>
<html lang="ja">
<head>
    <title>勉強会詳細</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/event-details.css">
    <script src="https://kit.fontawesome.com/6bf73f35ec.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
    <!--戻るボタン-->
    <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>

    <div class="event-wrapper">
      <div class="name">イベント一覧</div>

      <div class="buttons">
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達1</span>
          </div>
        </button>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達2</span>
          </div>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達3</span>
          </div>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>長い名前の友達長い名前の友達長い名前の友達</span>
          </div>
      </div>

    </div>



    <!--友達一覧-->
    <div class="event-wrapper">
      <div class="name">友達一覧</div>

      <div class="buttons">
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達1</span>
          </div>
        </button>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達2</span>
          </div>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達3</span>
          </div>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>長い名前の友達長い名前の友達長い名前の友達</span>
          </div>
      </div>

    </div>
    

    
    </div>
  </div>
</body>
</html>
