<!DOCTYPE html>
<html lang="ja">

<head>
    <title>ホーム画面</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/event-details.css">
    <script src="https://kit.fontawesome.com/6bf73f35ec.js" crossorigin="anonymous"></script>
</head>


<body>

  
  <div class="wrapper">
    <!--プロフィール画面ボタン-->
    <div class="icon dots"><i class="far fa-user-circle"></i></div>
   
    <header>
      <h1>アプリ名</h1>
    </header>

    <!--イベント名-->
    <div class="event-wrapper">
      <div class="name">友達候補一覧</div>

      <div class="buttons">
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達1</span>
          </div>
        </button>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達2</span>
          </div>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>友達3</span>
          </div>
        <button>
          <div class=button-container>
            <img src="../static/img/profile.png" title="profile img">
            <span>長い名前の友達長い名前の友達長い名前の友達</span>
          </div>
      </div>
      <div class="name">イベント一覧</div>

      <div class="buttons">
        <button>
          <div class=button-container>
            <h4>【エンジニア向けオンライン勉強会】Git&GitHubハンズオン！~ステップアップ編~</h4>
              <div>  
                <i class="fas fa-calendar-day"></i>
                <span>3月17日(水) 19:00-20:30</span>
              </div>
              <div>
                <i class="fas fa-map-marker-alt"></i>   
                <span>オンライン</span>
              </div>
              <div>
              <i class="fas fa-tags"></i>
              <span>Git,GitHub</span>
              <div>
                <i class="fas fa-pager"></i>
                <a href="https://talent.supporterz.jp/events/52f738fd-974e-4444-80d4-02b3f900aafd/">イベントページ</a>&emsp; 
              </div>
          </div>
        </button>
        <button>
          <div class=button-container>
            <h4>【エンジニア向けオンライン勉強会】Git&GitHubハンズオン！~ステップアップ編~</h4>
              <div>  
                <i class="fas fa-calendar-day"></i>
                <span>3月17日(水) 19:00-20:30</span>
              </div>
              <div>
                <i class="fas fa-map-marker-alt"></i>   
                <span>オンライン</span>
              </div>
              <div>
              <i class="fas fa-tags"></i>
              <span>Git,GitHub</span>
              <div>
                <i class="fas fa-pager"></i>
                <a href="https://talent.supporterz.jp/events/52f738fd-974e-4444-80d4-02b3f900aafd/">イベントページ</a>&emsp; 
              </div>
          </div>
        <button>
          <div class=button-container>
            <h4>【エンジニア向けオンライン勉強会】Git&GitHubハンズオン！~ステップアップ編~</h4>
              <div>  
                <i class="fas fa-calendar-day"></i>
                <span>3月17日(水) 19:00-20:30</span>
              </div>
              <div>
                <i class="fas fa-map-marker-alt"></i>   
                <span>オンライン</span>
              </div>
              <div>
              <i class="fas fa-tags"></i>
              <span>Git,GitHub</span>
              <div>
                <i class="fas fa-pager"></i>
                <a href="https://talent.supporterz.jp/events/52f738fd-974e-4444-80d4-02b3f900aafd/">イベントページ</a>&emsp; 
              </div>
          </div>
        <button>
          <div class=button-container>
            <h4>【エンジニア向けオンライン勉強会】Git&GitHubハンズオン！~ステップアップ編~</h4>
              <div>  
                <i class="fas fa-calendar-day"></i>
                <span>3月17日(水) 19:00-20:30</span>
              </div>
              <div>
                <i class="fas fa-map-marker-alt"></i>   
                <span>オンライン</span>
              </div>
              <div>
              <i class="fas fa-tags"></i>
              <span>Git,GitHub</span>
              <div>
                <i class="fas fa-pager"></i>
                <a href="https://talent.supporterz.jp/events/52f738fd-974e-4444-80d4-02b3f900aafd/">イベントページ</a>&emsp; 
              </div>
          </div>
      </div>
    </div>
    
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
    <script src='../static/js/config.js'></script>
    <script src='../static/js/functions.js'></script>
    <script src='../static/js/main.js'></script>
    
    </div>
  </div>
</body>
</html>
