<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ここにプロダクト名</title>
    <link rel='stylesheet' href='../static/css/login.css'>
</head>
<body>
    <form>
        <div class="segment">
            <h1>Log In / Sign Up</h1>
        </div>

        <label>
            <input id='email_inp' type="text" placeholder="Email" />
        </label>
        <label>
            <input id='password_inp' type="password" placeholder="Password" />
        </label>
        <button id='resister_btn' class="red" type="button"><i class="icon ion-md-lock"></i> SIGN UP</button>

        <div class="or">
            <h3>or</h3>
        </div>

        <button id='login_btn' class="red" type="button"><i class="icon ion-md-lock"></i> LOG IN</button>
    </form action='index'>
    
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
    <script src='../static/js/config.js'></script>
    <script src='../static/js/functions.js'></script>
    <script src='../static/js/login.js'></script>
</body>
</html>
