body, html {
    background-color: #EBECF0;
  }
  
  body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
  }
  
  div, p {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
  }
  
.profile-register{
    margin-top: 300px;
}

  form {
    padding: 16px;
    width: 1000px;
    margin: 0 auto;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
  
  .segment {
    /* padding: 32px 0; */
    text-align: center;
  }
  
  button, select, input{
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
  }

textarea {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 20px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
  }
  
  label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
  }
  
  .account_name{
      width:100px;
  }

  .text {
    color: #61677C;
    font-size: 14px;
    float: left;
    margin-left: 14px;
  }
  
  input, textarea {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
  }
  
  input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  
  .register{
      margin-top: 20px;
      margin-bottom: 15px;
  }

  button {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    width: 128px;
    cursor: pointer;
    font-weight: 600;
  }
  button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  button.icon {
    margin-right: 8px;
  }
  button.unit {
    border-radius: 24px;
    line-height: 0;
    padding: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
  }
  button.unit .icon {
    margin-right: 0;
  }
  
select{
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    width: 130px;
    /* padding-left: 100px; */
    cursor: pointer;
    font-weight: 600;
}

select:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
select:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
select.icon {
    margin-right: 8px;
  }

.dropdown {
    margin-top: 15px;
    margin-bottom: 15px;

}

.dropdown option{
    text-align: center;
}

.dropdown select{
    border-radius: 24px;
    line-height: 0;
    padding: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
  }

  .red {
    display: block;
    width: 100%;
    color: #AE1100;
  }

  
  